header {
  position: relative;
  background-color: var(--background_Tertiary_Color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 90%;
  left: 0;
  padding: 0 0 15px 56px;
  width: 100%;
  background-color: var(--background_Tertiary_Color);
}

nav {
  display: none;
}

.menu_Icone {
  margin-top: 24px;
}

.links {
  text-decoration: none;
  color: var(--text_Secondary_Color);
  font-size: 22px;
}

.list li {
  margin: 16px 0;
}

#logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
