header {
  position: relative;
  background-color: var(--background_Tertiary_Color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 90%;
  left: 0;
  padding: 0 0 15px 56px;
  width: 100%;
  background-color: var(--background_Tertiary_Color);
}

nav {
  display: none;
}

.menu_Icon {
  margin-top: 24px;
}

.links {
  text-decoration: none;
  color: var(--text_Secondary_Color);
  font-size: 22px;
}

.list li {
  margin: 16px 0;
}

#logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo_MobileTablet {
  display: block;
}

.logo_Desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu_Icon {
    margin-top: 0;
    width: 100%;
  }

  .menu_Icon label {
    display: none;
  }

  .menu_Icon nav {
    display: block;
    cursor: pointer;
  }

  .menu_icon li {
    margin-top: 0;
  }

  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 170px;
  }

  @media screen and (min-width: 1400px) {
    .logo_Desktop {
      width: 260px;
      height: 68px;
      margin-left: 20px;
    }

    .logo_Desktop {
      display: block;
      cursor: pointer;
    }

    .logo_MobileTablet {
      display: none;
    }

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px 0 800px;
      text-decoration: none;
    }

    .links {
      text-decoration: none;
      color: var(--text_Secondary_Color);
      font-size: 20px;
    }

    .links:hover {
      color: var(--text_Hover_Color);
    }
  }

  @media screen and (min-width: 1920px) {
    .logo_Desktop {
      width: 260px;
      height: 68px;
      margin-left: 20px;
    }

    .logo_Desktop {
      display: block;
      cursor: pointer;
    }

    .logo_MobileTablet {
      display: none;
    }

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 45px 0 1150px;
      text-decoration: none;
    }

    .links {
      text-decoration: none;
      color: var(--text_Secondary_Color);
      font-size: 25px;
    }

    .links:hover {
      color: var(--text_Hover_Color);
    }
  }
}
